
hgroup {
    text-align: center;
    margin-top: 3em;
    /* opacity: 0.7; */
    padding: 2px;
    background: #ef6644;
}
form {
    padding: 30px;
    padding-top: 10px;
    background: #fff;
}
.group {
    position: relative;
    margin-bottom: 25px;
}
.tname,.temail,.tvcode,.tpass{
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #42b574;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}
.tmobile {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #42b574;
    width: 80%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 45px;
}
button#verifymobileno {
    width: 35%;
    float: right;
    position: absolute;
    top: 1px;
    right: -17px;
    border: none;
    /* padding: 7px; */
    padding-top: 10px;
    padding-bottom: 12px;
    color: #fff;
    background: #05508f;
    cursor: pointer;
}
/* input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #42b574;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
} */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
.bar,.rbar {
    position: relative;
    display: block;
    width: 100%;
}
.rbar:before, .rbar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 44px;
    position: absolute;
    background: #4a89dc;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/* label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
} */
.buttonui {
    position: relative;
    padding: 8px 45px;
    line-height: 30px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #42b574;
    color: #ecf0f1;
    transition: background-color .3s;
}
.buttonui:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.buttonui span {
    padding: 12px 24px;
    font-size: 16px;
}
.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
}
.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}
.powered {
    padding: 10px;
    margin-top: -16px;
    line-height: 25px;
    background: #ef6644;
}
.powered a {
    color: #fff;
    text-decoration: none;
}
div.background1 {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
    right: -10%;
}
div.background1:before {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    width: 100%;
    height: 35%;
    /* opacity: 0.8; */
    background-color: #42b574;
    border-bottom: 30px solid #ef6644;
    transform-origin: 100% 100%;
    transform: skewY(30deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0px 0px 20px #89898a;
}
div.background3 {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
    left: 6%;
}
div.background3:before {
    content: '';
    position: absolute;
   bottom: -124px;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #42b574;
    border-bottom: 30px solid #ef6644;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: skewX(60deg);
    -ms-transform: skewX(60deg);
    transform: skewX(60deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0px 0px 20px #89898a;
}

input:focus {
    outline: none;
}
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
input:focus ~ .bar:before, input:focus ~ .bar:after,input:focus ~ .rbar:before, input:focus ~ .rbar:after {
    width: 54%;
}
.bar:before {
    left: 50%;
}
.rbar:after {
    right: 46%;
}
.bar:after {
    right: 46%;
}
.rbar:before {
    left: 30%;
}
input:focus ~ label, input.used ~ label {
    top: -20px;
    -webkit-transform: scale(.75);
    transform: scale(.75);
    left: -2px;
    color: #4a89dc;
}
.buttonui:hover {
   background: #05508f;    
}
/* .icon-lg.icon-rect, .icon-lg.icon-rounded, .icon-lg.icon-circle, .icon-lg.icon-outlined {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 36px;
}
.icon:before {
    display: inline-block;
    position: relative;
}
.mdi-account-multiple-outline:before {
    content: "\f10e";
} */
.registerForm {
    width: 420px;
    margin: 0 auto;
    z-index: 99;
    display: block;
    /* margin-top: 15%; */
    background: transparent;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #fff;
}
button#verifymobileno:hover {
    background: #42b574;
}
.sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
    position: relative;
    top: -31px;
    right: -90px;

}
span.sendmsg {
    color: green;
    background: #e1efe7;
    padding: 15px;
}
span.errormsg{
    color: #cc0000;
    background: #efe1e3;
    padding: 15px;
}
a.link_login {
    color: #05508f;
    font-weight: 600;
}

/**Edit Profile form Css*/
.header_name {
    text-align: center;
    background:#007eff;
    color: #fff;
    width: 70%;
    padding: 15px;
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    margin: auto;
}
/* input[type="text"] {
    height: 35px;
    width: 50%;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 15px;
} */
form.profile {
    /* padding: 0; */
    background: transparent;
    text-align: center;

}



/* css class for the edit profile generated errors */

  
  #sc-edprofile {
    background: #f0f0f0;
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
  
  #sc-edprofile h1 {
    background: #3399cc;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0px 0px 0 rgba(0,0,0,0.12);
  }
  
  div#sc-edprofile .sc-container {
    background: #f0f0f0;
    padding: 6% 4%;
    text-align: center;
  }
  
  div#sc-edprofile input {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
  }
  

  
  div#sc-edprofile input[type="submit"] {
    width: 100%;
    background: #3399cc;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
  }
  
  div#sc-edprofile input[type="submit"]:hover {
    background: #2288bb;
  }
  .sc-container > img {
    width: 40%;
    padding-bottom: 20px;
    /* text-align: center; */
}
a {
    text-decoration: none;
}

/**company button*/
.add_company a{
    color: #fff;
    padding: 15px;
    background: #3399cc;
    cursor: pointer;
}
.add_company {
    margin-left: 290px;
    padding-top: 100px;
}

/**Add Company css here*/

  
#sc-add-company {
    background: #f0f0f0;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: block;
    overflow: hidden;
  }
  #sc-add-company::after, #sc-add-company::before {
    content: "";
    display: block;
    clear: both;
}
  
  #sc-add-company h1 {
    background: #3399cc;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0px 0px 0 rgba(0,0,0,0.12);
    margin-top: 0;
  }
  
  div#sc-add-company .sc-container {
    background: #f0f0f0;
    padding: 6% 4%;
    text-align: left;
  }
  
  div#sc-add-company input {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    float: left;
    box-sizing: border-box;
}
.clr{
    clear:both;
}
.labelname {
    padding-bottom: 10px;
    font-weight: bold;
}
  
  div#sc-add-company .save {
    width:200px;
    background: #3399cc;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    margin-left: 10px;
    padding: 15px 15px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  div#sc-add-company .save_close {
    width: 200px;
    background: #42b574;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    margin-left: 10px;
    padding: 15px 15px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .field_company {
    position: relative;
    width: 47%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
  div#sc-add-company textarea {
    width: 89.5%;
    background: #fff;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
    margin-left: 6px;
}
form.add_company_form {
    padding: 0;
    background: transparent;
    overflow: hidden;
}
  div#sc-add-company input[type="submit"]:hover {
    background: #2288bb;
  }
  .sc-container > img {
    width: 40%;
    padding-bottom: 20px;
    /* text-align: center; */
}

.errorMsgcompany {
    color: #cc0000;
    margin-bottom: 12px;
    position: relative;
    top: -12px;
    font-weight: 600;
    font-size: 15px;
}

/**dashboard main css */
.dashboard_main {
    margin-left: 280px;
    margin-top: 70px;
}
.welcome_board {
    width: 47%;
    padding-left: 20px;
    float: left;
    font-size: 18px;
    font-weight: 700;
}
.dashboard_main > .img_dash {
    padding-top: 25px;
}
.img_dash > img {
    width: 50%;
    float: left;
}
.welcome_board > p {
    font-size: 16px;
    font-weight: normal;
}
.cmp_name {
    clear: both;
    margin-left: 270px;
    background: #007eff;
    margin-top: 90px;
    height: 60px;
    box-shadow: 0 0 30px -10px #007eff80;
    margin-right: 8px;
}

a.prof_link {
    /* float: left; */
    align-items: left;
    justify-content: left;
    display: block;
    text-align: left;
    width: auto;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    border-radius: 3px;
    color: palevioletred;
    /* border: 2px solid palevioletred; */
    padding: 0.25em 1em;
    -webkit-transition: 0.5s all ease-out;
    text-decoration: none;
}

.radio_configration > input {
    width: 6% !IMPORTANT;
    float: none !important;
}

/*LIST COMPANY CSS*/
.list_company {
    margin-top: 85px;
}
.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    width: 100%;
}
.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
.pure-table th, .pure-table td {
    padding: 0.5em 1em;
}
.pure-table td, .pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}
/*LEFT MENU CSS*/
.name_right_icon > i.fa.fa-angle-down {
    position: relative;
    right: 0;
    top: 5px;
    left: 71px;
    font-size: 26px;
}
.master > i {
    position: relative;
    position: relative;
    right: 0;
    top: 5px;
    left: 91px;
    font-size: 26px;
}
ul.menu > li {
    list-style: none;
    color: #fff;
    font-size: 16px;
    padding-left: 0px;
    margin: 15px 0px;
}
ul.menu > li > a {
    color: #fff;
    font-size: 16px;
}
.lr i {
    position: relative;
    right: 0;
    top: 5px;
    left: 14px;
    font-size: 26px;
}
li.arrow_set i {
    padding-right: 10px;
}